/* h2[style] {
  color: red;
} */

h2[class='sun'] {
  color: red;
}

/* h2[class~="sun"] {
  color: red;
} */

/* h2[class|="sun"] {
  color: red;
} */

/* h2[class^="sun"] {
  color: red;
} */

/* h2[class$="sun"] {
  color: red;
} */

/* h2[class*='sun'] {
  color: red;
} */
