/* div {
  color: red;
}

h1.head2 {
  color: initial;
} */

/* div {
  padding: 40px 70px;
}

h1.head2 {
  padding: inherit;
} */

h1.special {
  color: red;
  padding: 20px !important;
}

.special {
  color: blue !important;
}
