header,
nav,
article,
footer {
  padding: 24px;
}

header,
footer {
  background-color: gray;
  color: white;
}

footer p {
  text-align: center;
}

nav {
  background-color: bisque;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

article {
  background-color: burlywood;
}

/* Layout CSS */

section {
  display: flex;
}

nav {
  flex: 3;
}

article {
  flex: 7;
}

@media (max-width: 450px) {
  section {
    flex-direction: column;
  }
}
