header,
nav,
article,
footer {
  padding: 24px;
}

header,
footer {
  background-color: gray;
  color: white;
}

footer p {
  text-align: center;
}

nav {
  background-color: bisque;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

article {
  background-color: burlywood;
}

/* Layout CSS */

nav {
  width: 30%;
}

article {
  width: 70%;
}

nav,
article {
  float: left;
  box-sizing: border-box;
  height: 300px;
}

section::after {
  content: '';
  clear: both;
  display: table;
}

/* footer {
  clear: both;
} */

@media (max-width: 550px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
